<button class="eye_container slides_eye">
  <svg
    id="{{ data['eye_id'] }}"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <path d="M0 0h24v24H0z" fill="none" />
    <path
      d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
    />
  </svg>
  <span>Show code</span>
</button>
<script>
  document
    .querySelector("#" + '{{ data["eye_id"] }}')
    .closest(".slides_eye")
    .addEventListener("click", () => {
      toogle_slides('{{ data["eye_id"] }}');
    });

  // Start closed
  set_eye_position('{{ data["eye_id"] }}');
  hide_slides('{{ data["eye_id"] }}');

  // Functions
  function toogle_slides(eye_id) {
    input_element = document
      .querySelector("#" + eye_id)
      .closest(".output_wrapper")
      .parentNode.querySelector(".input");

    state = input_element.style.display;
    if (state === "block") {
      input_element.style.display = "none";
    } else {
      input_element.style.display = "block";
    }
  }

  function hide_slides(eye_id) {
    input_element = document
      .querySelector("#" + eye_id)
      .closest(".output_wrapper")
      .parentNode.querySelector(".input");
    input_element.style.display = "none";
  }

  function set_eye_position(eye_id) {
    eye = document.querySelector("#" + eye_id);

    eye.closest(".output_area").classList.add("output_area_of_eye_container");
  }
</script>
